.modal-header, .modal-footer{
    border: none;
}
 .modal-xl {
    max-width: 1100px;
}

@media screen and (max-width: 850px) {
    .flexContainer{
        width: 90%;
        .card{
            margin: 10px 5px;
        }
    }
}