@import './sharedStyles.scss';

*{
    font-family: 'Roboto', sans-serif;
    color: $fontColor;
}
.maxImgSize{
    height: 210px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    img{
        width: 140%;
        position: relative;
        top: -60px;
        left: -50px;
    }
}

.flexContainer{
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    .card{
        @include card(6px, solid, rgb(253,253,150), 20px, #fafafa, 30px);
        animation-name: cardsAnimation;
        animation-duration: 1s;
    }
}
@keyframes cardsAnimation
{
  0% { opacity: 0; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

@media screen and (max-width: 420px) {
    header img{
        width: 70%;
    }
    .card{
        margin: 10px 5px;
        .maxImgSize{
            height: 180px;
            img{
                width: 160%;
            }
        }
    }
}